---js
{
  title: "moev.biz",
  currentDate: function() {
    return (new Date()).toLocaleString("de-AT", {timeZone: "Europe/Vienna"});
  },
}
---
{% include 'partials/htmlhead.njk' %}

{{ content | safe }}

{% include 'partials/htmlfoot.njk' %}