---
layout: layouts/plain
---

<div class="fixed top-0 left-0 w-full h-[92vh] text-center flex justify-center items-center">
    <div class="leading-none text-[7.2vw]">
        <a href="https://bingo.computer">
                moev.biz is now bingo.computer
                <br>
                redirecting in <span id="countdown"></span>
        </a>
    </div>
</div>

<script>
    const counter = document.querySelector('#countdown');
    let number = 7;

    const countDown = () => {
        number = --number;
        console.log(number);
        counter.innerText = number;
        setTimeout(countDown, 1000);
        if (number <= 0) {
            number = 0;
            window.location = 'https://bingo.computer'; 
        }
    }
    countDown();
</script>