---
layout: layouts/prose
---

<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center">
    <img class="bg-gray-200 w-[350px]" src="assets/images/img_clean.jpg" alt="" srcset="">
</div>