<footer class="footer">

{# 
<a href="https://yesterweb.org/no-to-web3/">
    <img src="assets/images/roly-saynotoweb3.gif" alt="">
</a> 
#}

<footer class="sm:text-center uppercase text-sm p-3 sm:p-8 [&_span:not([data-no-op])]:opacity-30 flex flex-col sm:flex-row flex-wrap gap-y-4 justify-between">
    <div class="flex flex-wrap gap-4 sm:justify-center">
        <span>
            <a href="{{ '/imprint' | url }}">Imprint</a>
        </span>
        <span>
            <a href="{{ '/privacy' | url }}">Privacy</a>
        </span>
    </div>
    <div class="flex flex-wrap flex-col sm:flex-row gap-4 sm:justify-center">
        <span data-no-op class="grayscale">🦆</span>
        <span>&copy; 17-23</span>
        <span>
            moev.biz
        </span>
        <span>
            vienna, austria
        </span>
        <span>last build {{ currentDate() }} cet</span>
    </div>
</footer>



{# {%- for item in tech -%}
<div class="tech">
    <i data-tech="{{ item.name }}"></i>
    <span class="techname">{{ item.name }}</span>
</div>
{%- endfor -%} #}

</footer>