<div id="frame-container">
    <a href="" id="framelink" target="_blank">🔗</a>
    <div id="frame-info-top"></div>
    <div id="frame-wrapper" class="resizable hidden">
    <div class="resizeHandle resizeHandle-e" data-direction="e"></div>
    <div class="resizeHandle resizeHandle-w" data-direction="w"></div>
    <div class="loader-wrapper">
        <span class="loader"></span>
    </div>
    <iframe id="frame"></iframe>
    </div>
    <div id="frame-info-bottom"></div>
</div>